@model MVC.Models.Competicion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Competicion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompeticion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompeticion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temporada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCompeticion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
