@model IEnumerable<MVC.Models.Equipo>

@{
    ViewBag.Title = "Equipos";
}

<h2 class="text-center">Equipos</h2>

<p class="btn btn-default navbar-left">
    @Html.ActionLink("Crear", "Create")
</p>
<div>
    <form class="navbar-form navbar-left" role="search">
        <input type="text" id="myInputEquipo" class="form-control" onkeyup="BuscarEquipo()" placeholder="Buscar equipo...">
    </form>
</div>
<div>
    <form class="navbar-form navbar-left" role="search">
        <input type="text" id="myInputTitular" class="form-control" onkeyup="BuscarTitular()" placeholder="Buscar titular...">
    </form>
</div>
<div>
    <form class="navbar-form navbar-left" role="search">
        <input type="text" id="myInputSuplente" class="form-control" onkeyup="BuscarSuplente()" placeholder="Buscar suplente...">
    </form>
</div>
<div>
    <form class="navbar-form navbar-left" role="search">
        <input type="text" id="myInputReserva" class="form-control" onkeyup="BuscarReserva()" placeholder="Buscar reserva...">
    </form>
</div>
@if (Model.Count() > 0)
{ 
<table class="text-center table table-responsive table-striped table-hover" id="myTable">
    <tr>
        <th class="text-center">
            @Html.DisplayName("Nombre")
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Titular)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Suplente)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Reserva)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NombreEquipo)
    </td>
    @if (item.Titular == null || item.Titular.Activo)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Titular.NombreUsuario)
        </td>
    }
    else
    {
        <td class="warning">
            @Html.DisplayFor(modelItem => item.Titular.NombreUsuario)
        </td>
    }@if (item.Suplente == null || item.Suplente.Activo)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Suplente.NombreUsuario)
        </td>
    }
    else
    {
        <td class="warning">
            @Html.DisplayFor(modelItem => item.Suplente.NombreUsuario)
        </td>
    }@if (item.Reserva == null || item.Reserva.Activo)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Reserva.NombreUsuario)
        </td>
    }
    else
    {
        <td class="warning">
            @Html.DisplayFor(modelItem => item.Reserva.NombreUsuario)
        </td>
    }



    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdEquipo }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEquipo })
    </td>
</tr>
    }

</table>
    }

<script>
    function BuscarEquipo() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputEquipo");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function BuscarTitular() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputTitular");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function BuscarSuplente() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputSuplente");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function BuscarReserva() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputReserva");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>