@model IEnumerable<MVC.Models.Indisponibilidad>

@{
    ViewBag.Title = "Indisponibilidades";
}

<h2 class="text-center">Recurrentes</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th>
            Día Semana
        </th>
        <th>
            @Html.DisplayName("Hora Inicio")
        </th>
        <th>
            @Html.DisplayName("Hora Fin")
        </th>

        <th></th>
    </tr>

    @foreach (var item in ViewBag.ListaRecurrentes)
    {
        <tr>
            <td>
                @item.Usuario.NombreUsuario
            </td>
            <td>
                @item.DiaSemana
            </td>
            <td>
                @item.HoraInicio
            </td>
            <td>
                @item.HoraFin
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarRecurrente", new { id = item.IdIndisponibilidad }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdIndisponibilidad })
            </td>
        </tr>
    }

</table>

<hr />

<h2 class="text-center">Únicas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Fin
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in ViewBag.ListaUnicas)
    {
        <tr>
            <td>
                @item.Usuario.NombreUsuario
            </td>
            <td>
                @item.FechaInicio
            </td>
            <td>
                @item.FechaFin
            </td>
           
            <td>
                @Html.ActionLink("Editar", "EditarUnica", new { id = item.IdIndisponibilidad }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdIndisponibilidad })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Volver", "Index", "Usuarios")
</div>
